<h1>EPD-systeem</h1>
<p>Wat wil je doen?</p>


<div class="buttons">
	<%= link_to "Schrijf een nieuwe patiënt in", new_patient_url, class: "btn" %>
	<%= link_to "Bekijk een overzicht van patiënten", patients_url, class: "btn" %>
	<%= link_to "Schrijf een nieuwe arts in", patients_path, class: "btn" %>
	<%= link_to "Bekijk een overzicht van artsen", patients_path, class: "btn" %>
    </div>
</div>