// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

th, td {
  padding: 7px;
  text-align: left;
}

th {
   background-color: #C0D9B9;
   color: white;
}

td {
    border-bottom: 1px solid lightgray;
    color: gray;
}

p {
  color: gray;
}

h1 {
  color: #527D6B;
  margin-bottom: 30px;
}

.btn {
    background-color: #C0D9B9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
  background-color: #527D6B;
  color: white;
}

.row {
  color: gray;
  border-radius: 5px;
}